<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">-->  
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <link rel="stylesheet" href="Welcome.css">
        <script src="../../Libraries/vue.js"></script>
    </head>
    
    <body>
        <div class="columns" id="app">
            <div class="column is-two-thirds">
                <section class="section">
                    <h1 class="title">Members Only</h1>
                    <p class="subtitle">
                    Information Requisition and Verification!
                    </p>
                    <hr>      
                
                    <!-- form starts here -->
                    <section class="form">

                        <div class="field">
                            <label class="label">Name:</label>
                            <div class="control">
                                <input name="firstName"
                                v-model="form.firstName" 
                                class="input" type="text" placeholder="First">
                            </div>
                            <div class="control">
                                <input name="lastName" 
                                v-model="form.lastName" 
                                class="input" type="text" placeholder="Last">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Address:</label>
                            <div class="control">
                                <input name="addressLineOne" 
                                v-model="form.addressLineOne" 
                                class="input" type="text" placeholder="Address Line 1">
                            </div>
                            <div class="control">
                                <input name="addressLineTwo" 
                                v-model="form.addressLineTwo" 
                                class="input" type="text" placeholder="Address Line 2">
                            </div>
                            <div class="control">
                                <input name="city" 
                                v-model="form.city" 
                                class="input" type="text" placeholder="City">
                            </div>
                            <div class="control">
                                <input name="state" 
                                v-model="form.state" 
                                class="input" type="text" placeholder="State">
                            </div>
                            <div class="control">
                                <input name="zipCode" 
                                v-model="form.zipCode" 
                                class="input" type="text" placeholder="Zip Code">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Phone:</label>
                            <div class="control">
                                <input name="phoneNumber" 
                                v-model="form.phoneNumber" 
                                class="input" type="text" placeholder="&#xf0e0; Phone (US)">
                            </div>
                        </div>

                        
                        <div class="field">
                            <label class="label">Email:</label>
                            <div class="control">
                                <!--<i class = "fa fa-edit"></i>-->
                                <input name="email" 
                                v-model="form.email" 
                                class="input"
                                class="fa" 
                                type="text" 
                                placeholder="&#xf0e0; Email"
                                >
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Credit Card:</label>
                            <div class="control">
                                <input name="creditCardNumber" 
                                v-model="form.creditCardNumber" 
                                class="input"
                                class="fa" 
                                type="text" 
                                placeholder="Credit Card Number"
                                >
                            </div>
                            <div class="control">
                                <input name="expiration" 
                                v-model="form.expiration" 
                                class="input"
                                class="fa" 
                                type="text" 
                                placeholder="Expiration (MM/YY) Maybe Use Dropdowns?"
                                >
                            </div>
                            <div class="control">
                                <input name="CVV" 
                                v-model="form.CVV" 
                                class="input"
                                class="fa" 
                                type="text" 
                                placeholder="CVV"
                                >
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Message</label>
                            <div class="control">
                                <textarea class="textarea" placeholder="Textarea" v-model="form.message"></textarea>
                            </div>
                        </div>
                        
                        <div class="field">
                            <label class="label">Inquiry Type</label>
                            <div class="control">
                                <div class="select">
                                    <select v-model="form.inquiry_type">
                                        <option disabled value="">Nothing selected</option>
                                        <option v-for="option in options.inquiry" v-bind:value="option.value">
                                            {{ option.text }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="field">
                            <label class="label">LogRocket Usecases</label>
                            <div class="control">
                                <div class="select is-multiple">
                                    <select multiple v-model="form.logrocket_usecases">
                                        <option>Debugging</option>
                                        <option>Fixing Errors</option>
                                        <option>User support</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" v-model="form.terms">
                                    I agree to the <a href="#">terms and conditions</a>
                                </label>
                            </div>
                        </div>
                        
                        <div class="field"> 
                            <label>
                                <strong>What dev concepts are you interested in?</strong>
                            </label>
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" v-model="form.concepts" value="promises">
                                    Promises
                                </label> 
                                <label class="checkbox">
                                    <input type="checkbox" v-model="form.concepts" value="testing">
                                    Testing
                                </label>
                            </div>
                        </div>
                        
                        <div class="field">
                            <label><strong>Is JavaScript awesome?</strong></label>
                            <div class="control">
                                <label class="radio">
                                    <input v-model="form.js_awesome" type="radio" value="Yes">
                                    Yes
                                </label>
                                <label class="radio">
                                    <input v-model="form.js_awesome" type="radio" value="Yeap!">
                                    Yeap!
                                </label>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
            
            <div class="column">
                <section class="section" id="results">
                <div class="box">
                    <ul>          
                        <!-- loop through all the `form` properties and show their values -->
                        <li v-for="(item, k) in form">
                            <strong>{{ k }}:</strong> {{ item }}
                        </li>
                    </ul>
                </div>
                </section>
            </div>
        </div>
        <script src="Welcome.js"></script>
    </body>
</html>